In [ ]:
'''#Q1(Ans) A database is an organized collection of data, so that it can be easily accessed and managed.You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
key differnce between sql and nosql
                 #SQL                                                                                #NOSQL
 1.  RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                        1. Non-relational or distributed database system.
 2.  These databases have fixed or static or predefined schema	            2. They have dynamic schema
 3.  These databases are not suited for hierarchical data storage.         3. These databases are best suited for hierarchical data storage.
 4.  These databases are best suited for complex queries                   4. These databases are not so good for complex queries
 5.  Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc               5. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [ ]:
'''Q2(Ans) Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects.

(1).CREATE :This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

(2).ALTER :This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

(3).TRUNCATE :This command is used to remove all rows from the table, but the structure of the table still exists.
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

(4).DROP :This command is used to remove an existing table along with its structure from the Database.
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

In [ ]:
'''Q3(Ans)DML is an abbreviation of Data Manipulation Language.
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.

In [ ]:
'''Q4(Ans)DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
#SELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the records of the specified table. It also shows the particular record of a particular column by using the WHERE clause.

In [ ]:
'''Q5(Ans)Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [ ]:
'''Q6(Ans)
import mysql.connector.
myconn = mysql.connector.connect(host = "localhost", user = "root",password = "123456", database = "mydb")
print(myconn)
cur = myconn.cursor()
cursor.execute("CREATE DATABASE ")


The execute () method helps us to execute the query and return records according to the query.

The cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

In [ ]:
'''Q7(Ans)
Order of Execution
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.